
img {
	width: 100%;
}

.figure{
	cursor: pointer;
	transform-origin:left top;
}
.figure img{
  width: 40%;
  border-radius: 20%;
  transition-duration: 0.5s;
}
.figure:hover{
  transform: scale(1.2);
  
  transition-duration: 0.5s;
}

/* gatefold */
.gatefold {
	width: 100%;
	height: 100%;
}

.gatefold::before,
.gatefold::after {
	content: '';
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: url(../images/gatefold.jpg) top center no-repeat;
	background-size: cover;
	-webkit-transition: all 1s;
	transition: all 1s;

	z-index: 1;
}

.gatefold::before {
	left: 0;
	clip: rect(0px 50vw 100vh 0px);
}

.gatefold::after {
	right: 0;
	clip: rect(0px 100vw 100vh 50vw);
}

/* slide */
.check {
	display: none;
}

.switch {
	position: fixed;
	left: 0;
	right: 0;
	width: 550px;
	height: 140px;
	margin: auto;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	text-shadow: 5px 5px 10px rgba(0,0,0,.8);
	color: #fff;
	
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.switch.slide {
	top: 30%;
}
.switch.slide::before {
	content: 'LA LA LANDの世界へ';

}


.check.slide:checked ~ .switch.slide::before{
	content: '';
	opacity: .3;
}

.check.slide:checked ~ .gatefold::before {
	-webkit-transform: translate3d(-450px,0,0);
	transform: translate3d(-450px,0,0);
}
.check.slide:checked ~ .gatefold::after {
	-webkit-transform: translate3d(450px,0,0);
	transform: translate3d(450px,0,0);
}

#contents{
	max-width: 916px;
	/* text-align: center; */
	margin: 0 auto;
	padding-left: 16px;
}

#title{
	margin-bottom: 50px;
	margin-right: 0;
}

body{
	background-color: #1d2f53;
}

#slide{
	text-align: center;
	position: relative;
	z-index: 0;
	padding: 0 40px;
}

.slick_slide{
	text-align: center;
}

.trigger {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #4caf50;/*ボタン色*/
	
	border-bottom: solid 4px #627295;
	border-radius: 3px;

	margin-right: 95px;
	cursor: pointer;
}
.trigger:active {

	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	border-bottom: none;/*線を消す*/
}

.menu{
	display: none;
	border: 1px solid #627295;
	width: 235px;
}
.menu_detail{
	background-color: mediumseagreen;
	border: 1px solid #627295;
	padding: 0.5em;
}



#button{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}


.game {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;/*ボタン色*/
	
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}
.game:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	border-bottom: none;/*線を消す*/
}

#button{
	text-align: center;
	color: #FFF;
}



.char{
	font-family: 'Noto Sans JP', sans-serif;
	margin: 70px 70px;
	color: #FFF;
}

.char h1{
	font-size: 2em;
    font-weight: bold;
}



.char h2,.char ul{
	margin: 2em 1em;
}

.char li{
	font-size: 1.6em;
	margin-top: 1em;
}

h1 strong{
    font-size: 1.2em;
	color: coral;
}

.char li strong{
	font-size: 1.2em;
}

h2 strong, h3 strong{
    font-size: 1.2em;
	color: sandybrown;
}



#pagetop{
		display: inline-block;
		text-decoration: none;
		background: #ff9999;
		color: #FFF;
		width: 60px;
		height: 60px;
		line-height: 60px;
		border-radius: 50%;
		text-align: center;
		overflow: hidden;
		transition: .4s;
		margin: 40px 40px 40px 413px;
}
#pagetop:hover {
		background: #ff7f7f;
}

