body{
    background: url("../images/longback.png") top center no-repeat;
    background-color: #1d2f53;
}

#two{
    height: 418px;
}

#ema{
    position: absolute;
    left: 0;
    z-index: 1;
}

#ryan{
    position: absolute;
    right: 0;
    z-index: 1;
}

#hug{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    opacity: 0;
    transition: 0.7s;
}
#hug.show{
    opacity: 1;
}

#char{
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFF;
    margin-top: 20px;
}

#char h1{
	font-size: 2em;
    font-weight: bold;
    text-align: center;
}



#char h2,#char ul{
    text-align: center;
    margin-top: 1em;
}

h1 strong{
    font-size: 1.2em;
    color: deeppink;
}

h2 strong{
    font-size: 1.2em;
    color: sandybrown;
}

#pagetop{
    display: inline-block;
    text-decoration: none;
    background: #ff9999;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    margin: 40px 40px 40px 303px;
}
#pagetop:hover {
    background: #ff7f7f;
}